<p style="text-align: justify;">
    Платформа CheckiO має схожу місію <a target="_blank" href='https://py.checkio.org/en/mission/verify-anagrams/'>Verify Anagrams</a>,
    але в ньому потрібно визначити, чи є слова анаграмами. У цій місії завдання буде трохи іншим. Вам даються два
    рядки і потрібно визначити, чи можна поміняти місцями дві літери в першому рядку, щоб отримати другий рядок. Якщо так (або слова однакові) -
    поверніть <b>{% if is_js %}t{% else %}T{% endif %}rue</b>, якщо ні - <b>{% if is_js %}f{% else %}F{% endif %}alse</b>.
</p>
<p>
    Наприклад, рядок <b>"btry"</b>, якщо поміняти місцями <b>y</b> та <b>t</b>, то отримаємо 
   <b>"byrt"</b>.
</p>

<p><strong>Вхідні дані:</strong> Два рядки <span>(str{% if is_js %}ing{% endif %})</span>.</p>

<p><strong>Вихідні дані:</strong> Логічне значення <span>(bool{% if is_js %}ean{% endif %})</span>.</p>



<div class="for_info_only">
    <p><strong>Приклади:</strong></p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

</div>
<p><strong>Передумови:</strong></p>
    <li>Усі літери у нижньому регістрі;</li>
    <li>Тільки літери.</li>
</p>
