<p>
    CheckiO platform has a similar mission <a target="_blank" href='https://py.checkio.org/en/mission/verify-anagrams/'>Verify Anagrams</a>,
    but in it you have to determine whether words are anagrams. In this mission, the task will be a little different. You are given two
    strings and need to determine whether you can swap two letters in the first string to get the second string. If so (or words are the same) -
    return <b class="code">{% if is_js %}t{% else %}T{% endif %}rue</b>, if not - <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>.
</p>
<p>
    For example, the string <pre>"btry"</pre>, if we swap <pre>y</pre> and <pre>t</pre>, we get 
    <pre>"byrt"</pre>.
</p>

<p><strong>Input:</strong> Two strings.</p>

<p><strong>Output:</strong> {% if is_js %}Boolean{% else %}Bool{% endif %}.</p>



<div class="for_info_only">
    <p><strong>Examples:</strong></p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

</div>
<p><strong>Precondition:</strong></p>
    <li>All letters are in lower case;</li>
    <li>Only letters.</li>
</p>
